body {
    font-family: 'Archivo Narrow', sans-serif;
}

.content-block {
    width: 960px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
  
}

.contents1 {
    width: 100%;
    height: 480px;
    background-image:url(image1.jpeg);
    background-repeat: no-repeat;
    background-position: 20% 50%;

}

.contents2 {
    background-color: rgb(70, 88, 191);
    padding: 20px 40px;
    
}

#background {
    margin-bottom: 100px;
}

#title {
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    margin-top: 134px;
    color: rgb(222, 222, 222);
}

.subheading {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: rgb(222, 222, 222);
    /* margin-bottom: 3px; */

}


h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
    color:rgb(222, 222, 222);


}

#side-image {
    width: 400px;
    height: 300px;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    /* margin-top: px; */

}
p {
    font-size: 18px;
    line-height: 25px;
    color:rgb(222, 222, 222);

}


.small-image {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 12px;
}

li {
    list-style-type: none;
    margin-bottom: 23px;
    /* margin-bottom: 40px; */
}

ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px 20px; */
    column-gap: 3px;
}



h3 {
    font-size: 20px;
    padding-top: 2px;
}

.last-text {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 26px;
    line-height: 36px;
}

.contents3 {
    padding-top: 15px;
    background-color: rgb(49, 60, 123);
}

.contents4 {
    width: 100%;
    /* height: 380px; */
    background-color: rgb(39, 61, 89);
    margin: 0;
    padding-top: 60px;
    padding-bottom: 50px;
}

.bottom {
    float: left;
    margin-top: 10px;
}
#footer {
    font-size: 18px;
    margin-left: 240px;
    margin-top: 35px;
    font-stretch: extra-condensed;
    background-color: white;
}

.photo-title {
    margin-top: -25px;
    color:rgb(222, 222, 222)
}

.description {
    margin-top: -12px;  
}

.last-title{
    margin-top: -37px;

}


