p {
    color: #2F4F4F;
    font-size: 16px;
    margin-left: 80px;
    line-height: 2.0;
    font-family: Courier New
    
}


h1 {
text-align: center;
color: #8B0000;
font-family: Courier New
}

h2 {
    text-align: center;
    font-family: Courier New

    }

.clearing {
    color: #8FBC8F;
    font-size: 16px;
    margin-left: 80px;
    line-height: 2.0;
    font-family: Courier New
    
}

.He {
    color: #8FBC8F;
    font-size: 16px;
    margin-left: 80px;
    line-height: 2.0;
    font-family: Courier New
   

}

.triumphantly{
    margin-bottom: 80px;
}

