body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    background-color:#f3f3f3;
    /* background-color: rgb(84, 108, 84); */
    margin: 0;
}


.cover {
    width: 100%;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    position: absolute;
    right: 96px;
    top: 284px;
    font-size: 64px;
    font-weight: 700;
}

.quote {
    color: #B5BCFF;
    position: absolute;
    right: 136px;
    top: 370px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: lighter;
    font-size: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 22%;
    /* position: sticky; */
}

.nav-son a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #fff;
    font-size: 20px;
    left: 18%;
    top: 80px;
    font-weight: 400;
    text-decoration: none;
}

.nav-son a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-early-life a:visited {
    color: #B5BCFF;
    text-decoration: none;

}

.nav-early-life a:visited {
    color: #B5BCFF;
    text-decoration: none;

}

.nav-club-career a:visited {
    color: #B5BCFF;
    text-decoration: none;
}

.nav-international-team a:visited {
    color: #B5BCFF;
    text-decoration: none;

}

.nav-style a:visited {
    color: #B5BCFF;
    text-decoration: none;

}

.nav-early-life a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #B5BCFF;
    font-size: 16px;
    left: 18%;
    top: 310px;
    text-decoration: none;
}

.nav-club-career a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #B5BCFF;
    font-size: 16px;
    left: 18%;
    top: 410px;
    text-decoration: none;

}

.nav-international-team a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #B5BCFF;
    font-size: 16px;
    left: 18%;
    top: 510px;
    text-decoration: none;

}

.nav-style a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    color: #B5BCFF;
    font-size: 16px;
    left: 18%;
    top: 610px;
    text-decoration: none;

}

.side {
    width: 22%;
    height: 8000px;
    float: left;
    margin-top: -10px;
    background-color: #10164A;
    /* z-index: 2; */

}

.middle {
    position: absolute;
    /* background-color: #4653CD; */
    width: 10%;
    height: 8000px;
    /* how to set this to automatically be the length -- auto?? */
    left: 320px;
    border-right: 2px solid #C86862;
}

.content {
    height: 300px;
}

.achievements {
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 11%;
}



.ach-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #4653CD;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    left: 400;
    /* position: absolute; */
    display: block;
    line-height: 100px;
    position: relative;


}

.ach-title::before {
    content:"";
    width: 28px;
    height: 28px;
    background-color: #f3f3f3; 
    border: 4px solid #4653CD;
    display: block;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: -6.1%;

}

.main-title::before {
    content:"";
    width: 28px;
    height: 28px;
    background-color: #f3f3f3; 
    border: 4px solid #4653CD;
    display: block;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 70%;
    left: -6.1%;

}

.sub-title::before {
    content:"";
    width: 28px;
    height: 28px;
    background-color: #f3f3f3; 
    border: 4px solid #4653CD;
    display: block;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 70%;
    left: -6.1%;
}

.ach-yr {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #0f0f0f;
    margin-top: 10px;
    margin-right: 70px;
    z-index: 2;
    position: relative;
    margin-top: 100px;
    display: inline;
    font-weight: bolder;
    left: 3%;
    top: -10px;
    /* margin-top: -20%; */
    margin-right: 5%;
}

.goal-block {
    margin-top: 4%;
    /* margin-right: 4%; */

}
.goal {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #DD4238;
    margin-top: 20px;
    margin-right: 70px;
    z-index: 2;
    position: relative;
    margin-top: 100px;
    display: inline;
    font-weight: bolder;
    left: 3%;
    top: -10px;
    /* margin-top: -20%; */
    margin-right: 21%;
}

.bottom-red {
    /* position: absolute;
    width:88%; */
    /* float: right; */
    /* left: 22.3%; */
    height: 0.8%;
    background-color: #C86862;


}

/* .circle-bullet {
    width: 30px;
    height: 30px;
    background-color: red;  
    display: inline-block;
    border-radius: 50%;
    z-index: 2;
} */

#red-circles {
    position: absolute;
    width: 77%;
    height: auto;
    /* margin-top: 0.1%; */

}


.main {
    margin-top: 12%;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;
    color: #4653CD;
    margin-top: 12%;
    margin-left: 36%;
}



.sub-title {
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
    color: #4653CD;
    margin-left: 40%;
    margin-top: 3%;
    /* z-index: 3; */
}

.sub-title-korean {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #d6d9f0;
    position: absolute;
    left: 45%;
    margin-top: -5%;
    z-index: -1;


}

.body-text {
    font-family: 'Raleway', sans-serif;
    margin-top: 3%;
    margin-left: 36%;
    color: #232323;
    width: 36%;
    line-height: 24px;
    font-size: 16px;


}

.early-photo {
    display: inline;
    /* margin-top: 5%; */
}

#young-son1{
    width: 18%;
    height: auto;
    float: right;
    margin-top: -6%;
    margin-right: 6%;
    display: inline;
}

#young-son2 {
    width: 18%;
    height: auto;
    float: right;
    margin-top: -22%;
    margin-right: -16%;
    display: inline;
}



.title-block {
    /* display: none; */
    /* background-color: #10164A;
    width: 100%;
    height: 120px; */
    visibility: hidden;
}

@media (min-width: 360px) and (max-width: 425px) {

    body {
        margin: 0;
    }

    .cover {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 32px;
        left: 12%;
        top: 24%;
        position: relative;
    }

    .quote {
        font-size: 12px;
        top: 28%;
        left: 12%;
        line-height: 12px;
        position: relative;
    }

    .navbar {
        position:absolute;
        display: inline-block;
        margin: auto;
        margin-top: 24%;
    }

    .nav-son {
        display: none;
        
    }

    

    .nav-early-life {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: #4653CD;
        display: inline-block;

    }

    .nav-club-career {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 150%;
        text-align: center;
        color: #4653CD;
        display: inline-block;

    }

    .nav-international-team {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 200%;
        text-align: center;
        color: #4653CD;
        display: inline-block;
    }

    .nav-style {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: #4653CD;
        display: inline-block;
    }
    .side {
        /* width: 100%;
        height: 120px; */
        display: none;
    }

    .title-block {
        visibility: visible;
        width: 100%;
        height: 120px;
        background-color: #10164A;
        margin-top:-10px;

    }

    .middle {
        display: none;
    }

    .content {
        margin-top: 80%;
    }

    .ach-title::before {
        content:"";
        width: 14px;
        height:14px;
        background-color: #f3f3f3; 
        border: 3px solid #4653CD;
        display: block;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        top: 6%;
        left: -16%;
    
    }

    .ach-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8%;
        left: -20%;



    }

    .ach-yr {
        font-size: 12px;
        left: -16%;
        margin-top: -30%;
        /* margin-bottom: -44%; */

    }

    .goal {
        left: -14%;
        font-size: 12px;
        margin-right: 28%;
        /* margin-left: 6%; */


    }
    
    .goal-block {
        /* margin-left: 2%; */
    }

    #red-circles {
        width: 100%;

    }

    .bottom-red {
        height: 0.5%;
    }

    .main-title {
        font-size: 36px;
        margin: auto;
        text-align: center;
        margin-bottom: 12%;
    }

    .main-title::after {
        content:"";
        width: 14px;
        height:14px;
        background-color: #f3f3f3; 
        border: 3px solid #4653CD;
        display: block;
        border-radius: 50%;
        z-index: 2;
        /* position: absolute; */
        margin: auto;
        left: 50%;
        margin-top: 9%;
        margin-bottom: 4%;
        
    }

    .sub-title {
        font-size: 24px;
        margin: auto;
        text-align: center;

    }

    .sub-title::before {
        display: none;
    }

    .main-title::before {
        display: none;
    }

    .sub-title-korean {
        font-size: 36px;
        margin: auto;
        text-align: center;
        position: relative;
        margin-top: -16%;
        margin-left: -120%;
        
    }

    .body-text {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 30%;

    }

    #young-son1 {
        display: none;
    }

    #young-son2 {
        display: none;

    }

    
}

@media (min-width: 426px) and (max-width: 768px) {
    body {
        margin: 0;
    }

    .cover {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 32px;
        left: 12%;
        top: 24%;
        position: relative;
    }

    .quote {
        font-size: 12px;
        top: 28%;
        left: 12%;
        line-height: 12px;
        position: relative;
    }

    .navbar {
        position:absolute;
        display: inline-block;
        margin: auto;
        margin-top: 24%;
    }

    .nav-son {
        display: none;
    }

    .nav-early-life {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: #4653CD;
        display: inline-block;

    }

    .nav-club-career {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 150%;
        text-align: center;
        color: #4653CD;
        display: inline-block;

    }

    .nav-international-team {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 200%;
        text-align: center;
        color: #4653CD;
        display: inline-block;
    }

    .nav-style {
        border: 2px solid #4653CD;
        padding: 12px;
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: #4653CD;
        display: inline-block;
    }
    .side {
        /* width: 100%;
        height: 120px; */
        display: none;
    }

    .title-block {
        visibility: visible;
        width: 100%;
        height: 120px;
        background-color: #10164A;
        margin-top:-10px;

    }

    .middle {
        display: none;
    }

    .content {
        margin-top: 40%;
    }

    .ach-title::before {
        content:"";
        width: 14px;
        height:14px;
        background-color: #f3f3f3; 
        border: 3px solid #4653CD;
        display: block;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        top: 6%;
        left: -16%;
    
    }

    .ach-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4%;
        left: -20%;
        margin-top: 4%;



    }

    .ach-yr {
        font-size: 12px;
        left: -16%;
        margin-top: -20%;
       

    }

    .goal {
        left: -14%;
        font-size: 12px;
        margin-right: 28%;
        /* margin-left: 6%; */


    }
    
    .goal-block {
        /* margin-left: 2%; */
    }

    #red-circles {
        width: 100%;

    }

    .bottom-red {
        height: 0.5%;
    }

    .main-title {
        font-size: 36px;
        margin: auto;
        text-align: center;
        margin-bottom: 12%;
    }

    .main-title::after {
        content:"";
        width: 14px;
        height:14px;
        background-color: #f3f3f3; 
        border: 3px solid #4653CD;
        display: block;
        border-radius: 50%;
        z-index: 2;
        /* position: absolute; */
        margin: auto;
        left: 50%;
        margin-top: 9%;
        margin-bottom: 4%;
        
    }

    .sub-title {
        font-size: 24px;
        margin: auto;
        text-align: center;
        margin-bottom: 8%;

    }

    .sub-title::before {
        display: none;
    }

    .main-title::before {
        display: none;
    }

    .sub-title-korean {
        font-size: 36px;
        margin: auto;
        text-align: center;
        position: relative;
        margin-top: -16%;
        margin-left: -120%;
        
    }

    .body-text {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 30%;

    }

    #young-son1 {
        display: none;
    }

    #young-son2 {
        display: none;

    }

    }

    @media (min-width: 769px) and (max-width: 1024px) {

        .side {
            height: 8000px;
        }
        .middle {
            width: 2%;
            height: 8000px;
            /* top: ; */
        }

        .title {
            visibility: visible;
            font-size: 48px;
            top: 30%;
            right: 4%;
        }

        .quote {
            visibility: visible;
            font-size: 14px;
            top: 37%;
            right: 8%;
        }

        .ach-title::before {
            content:"";
            width: 20px;
            height:20px;
            background-color: #f3f3f3; 
            border: 3px solid #4653CD;
            display: block;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            top: 6%;
            left: -4.6%;
            /* margin-right: 8%; */
        
        }

        .nav-international-team {
            line-height: 24px;
        }

        .nav-inside {
            top: 120%;
            /* how to put it up */
        }

        #young-son1 {
            top: 12%;
        }
        #young-son1 {
            /* top: 34px; */
        }

        .sub-title-korean {
            font-size: 48px;
        }

        .main-title {
            line-height: 32px;
        }

    

    }